ADF/pipeline/copy Sql table data to ADLS.json
{
	"name": "copy Sql table data to ADLS",
	"properties": {
		"activities": [
			{
				"name": "Lookup sql json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "manual_Json_data_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "manuallookupfiles",
							"filename": "Table_Source_SQL.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachJsonElement",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup sql json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup sql json').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzureSqlTable_source",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@split(item().tablename_source,'.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parquet_sink",
									"type": "DatasetReference",
									"parameters": {
										"sqldirectoryname": "SQL_Table_Data"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-07T17:00:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}