ADF/pipeline/pipeline rest.json
{
	"name": "pipeline rest",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kvazureprojdev.vault.azure.net/secrets/api-key/8eeb13460683482185e1290729f144ae?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy rest data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_RestResource_source",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@activity('Web1').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "manual_Json_data_sink",
						"type": "DatasetReference",
						"parameters": {
							"container": "raw",
							"filename": {
								"value": "@concat('airlines/Date_Part=', formatDateTime(utcnow(), 'yyyy-MM-dd'), '/airlines.json')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-07T17:49:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}